@import 'mixins';
.workout-detail-container {
	header {
		h1 {
			md-icon {
				width: 50px;
				height: 50px;
				padding-bottom: 4px;
			}
		}
	}
	md-content {
		#workout-type-parameters-container {
			margin-right: 40px;
			.workout-type-parameters {
				margin: 5px;
				padding: 0 10px;
				@include border(2px, solid, black);
				@include border-radius(8px);
				width: 10vw;
				text-align: center;
				.parameter-name {
					padding-top: 7px;
				}
				.parameter-value {
					padding-bottom: 7px;
					font-weight: 500;
				}
			}
		}
		canvas {
			padding-right: 40px;
		}
	}
}