@import 'mixins';

#sidenav-toggle-button {
	md-icon.fa.fa-bars {
		font-size: 2em;
	}
}

#content {
	margin-left: 5px;
	padding: 5px 40px 0 40px;
	overflow: hidden;

	[ui-view] {
		@include transition(all, .1s, ease-in-out);
		&.ng-enter {
			@include animation-name(zoomInLeft);
		}

		&.ng-leave {
			@include animation-name(zoomOutRight);
		}
	}
}