<link rel="stylesheet" href="dist/css/sidenav.css">
<md-sidenav md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp">
	<header layout="column" layout-align="center center">
		<h2 class="md-display-1">Training Planner</h2>
	</header>
	<nav>
		<md-list>
			<md-list-item ng-repeat="route in vm.navRoutes" ng-class="vm.isCurrent(route)">
				<md-button ui-sref="{{ route.name }}">
					{{ route.settings.content }}
				</md-button>
			</md-list-item>
		</md-list>
	</nav>
	<footer flex layout="row" layout-align="center center"><p class="md-caption">&copy; Copyright 2018, Slawomir Chudzik</p></footer>
</md-sidenav>
