<link rel="stylesheet" href="dist/css/add-workout-form.css">
<md-content class="add-workout-form-container md-inline-form" layout="column">
	<header>
		<h1 class="md-display-1">Create new workout</h1>
	</header>
	<md-content layout-padding>
    <div>
		<form name="workoutForm">
			<div layout-gt-xs="row">
				<md-input-container>
					<label>Workout Name</label>
					<input name="name" required ng-model="vm.workout.name" autocomplete="off">
					<div ng-messages="workoutForm.name.$error">
     	 				<div ng-message="required">This is required.</div>
     	 			</div>
				</md-input-container>

				<md-input-container>
					<label>Description</label>
					<input name="description" ng-model="vm.workout.description" autocomplete="off">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Type</label>
					<md-select ng-model="vm.workout.type" name="type" required>
						<md-option ng-repeat="type in vm.types" ng-value="type">
							{{ type.name }}	
						</md-option>
					</md-select>
					<div ng-messages="workoutForm.type.$error">
     	 				<div ng-message="required">This is required.</div>
     	 			</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row" layout-align="end center">
				<div>
					<md-button ng-click="vm.add(workoutForm)">Add</md-button>
				</div>
			</div>
		</form>
	</div>
</md-content>