<link rel="stylesheet" href="dist/css/add-exercise-form.css">
<md-content class="add-exercise-form-container md-inline-form" layout="column">
	<header>
		<h1 class="md-display-1">Add new exercise</h1>
	</header>
	<md-content layout-padding>
    <div>
		<form name="form">
			<div layout-gt-xs="row">
				<md-input-container>
					<label>Exercise Name</label>
					<input name="name" required ng-model="vm.exercise.name" autocomplete="off">
					<div ng-messages="form.name.$error">
     	 				<div ng-message="required">This is required.</div>
     	 			</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Type</label>
					<md-select ng-model="vm.exercise.type" name="type" required>
						<md-option ng-repeat="type in vm.types" ng-value="type">
							{{ type }}	
						</md-option>
					</md-select>
					<div ng-messages="form.type.$error">
     	 				<div ng-message="required">This is required.</div>
     	 			</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row">
				<md-input-container flex>
					<label>Description</label>
					<textarea name="description" ng-model="vm.exercise.description" md-maxlength="150"></textarea>
					<div ng-messages="form.description.$error">
						<div ng-message="md-maxlength">
							That's too long.
						</div>
					</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row">
				<md-input-container flex>
					<label>Body parts engaged</label>
					<md-select ng-model="vm.exercise.bodyPartsEngaged" name="type" required multiple>
						<md-option ng-repeat="bodyPart in vm.bodyParts" ng-value="bodyPart">
							{{ bodyPart }}	
						</md-option>
					</md-select>
					<div ng-messages="form.type.$error">
						<div ng-message="required">
							This is required.
						</div>
					</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row">
				<md-input-container flex>
					<label>Link to exercise</label>
					<input name="linkToExercise" ng-model="vm.exercise.linkToExercise" autocomplete="off" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
					<div ng-messages="form.linkToExercise.$error">
						<div ng-message="pattern">
							Url is not valid.
						</div>
					</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row" layout-align="end center">
				<div>
					<md-button aria-label="{{vm.isEdit ? 'Update' : 'Add'}}" ng-click="vm.upsert(form)">
						<span ng-if="vm.isEdit">Update</span>
						<span ng-if="!vm.isEdit">Add</span>
					</md-button>
				</div>
			</div>
		</form>
	</div>
</md-content>