<span class="workout-detail-container">
	<md-button class="md-fab md-fab-top-right" aria-label="Return" ui-sref="workout.list">
		<md-icon md-svg-icon="img/icons/arrow-left.svg"></md-icon>
	</md-button>
	<header>	
		<h1 class="md-display-3">
			<md-icon md-svg-icon="{{vm.workout.type.iconPath}}"></md-icon> 
			{{ vm.workout.name }}
		</h1>
	</header>
	<md-content layout="column">
		<div id="workout-type-parameters-container" layout="row" layout-align="center center" layout-wrap>
			<div class="workout-type-parameters" layout="column" ng-repeat="parameter in vm.workout.type.parameters">
				<span class="md-caption parameter-name">{{ parameter.name }}</span>
				<span class="md-caption parameter-value">{{ parameter.value }}</span>
			</div>
		</div>
		<header>
			<h5 class="md-title">Description</h4>
		</header>
		<section>
			<p class="md-body-1">
				{{ vm.workout.description }}
			</p>
		</section>
		<canvas id="radar" class="chart chart-radar"
			chart-data="vm.chart.data" chart-labels="vm.chart.labels">
		</canvas> 

		<md-content>
			<md-list flex>
				<md-subheader class="md-no-sticky">Exercises</md-subheader>
				<md-list-item class="md-3-line" ng-repeat="exercise in vm.workout.exercises" ng-click="showModifyOptions = !showModifyOptions">
					<div class="md-list-item-text" layout="column" ng-show="!showModifyOptions">
						<h3>{{ exercise.name }}</h3>
						<h4>{{ exercise.description }}</h4>
						<p>Engaged Body Parts: {{ exercise.getEngagedBodyPartsToString() | uppercase }}</p>
					</div>
					<div class="md-list-item-text" layout="row" layout-align="center center" ng-show="showModifyOptions">
						<md-button ng-click="vm.editExercise($index)">
							<md-icon md-svg-icon="img/icons/pencil.svg"></md-icon>
						</md-button>
						<md-button ng-click="vm.removeExercise($index)">
							<md-icon md-svg-icon="img/icons/delete.svg"></md-icon>
						</md-button>
					</div>
				</md-list-item>
				<md-list-item class="md-2-line" ng-click="vm.showAddExerciseForm();">
					<div class="md-list-item-text" layout="column" layout-align="center center">
						<p class="md-caption">Add new exercise</p>
						<md-icon md-svg-icon="img/icons/plus-circle-outline.svg"></md-icon>
					</div>
				</md-list-item>
				<md-divider ng-if="$index != $last"></md-divider>
			</md-list>
		</md-content>
		
	</md-content>
</span>