<link rel="stylesheet" href="dist/css/parameter.form.css">
<md-content class="parameter-form-container md-inline-form" layout="column">
	<header>
		<h1 class="md-display-1" ng-if="!vm.isEdit">Add new parameter</h1>
		<h1 class="md-display-1" ng-if="vm.isEdit">Edit parameter</h1>
	</header>
	<md-content layout-padding>
    <div>
		<form name="form">
			<div layout-gt-xs="row">
				<md-input-container flex>
					<label>Name</label>
					<input name="name" required ng-model="vm.parameter.name" autocomplete="off">
					<div ng-messages="form.name.$error">
	 					<div ng-message="required">This is required.</div>
     	 			</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row">
				<md-input-container flex>
					<label>Value</label>
					<input name="value" required ng-model="vm.parameter.value" autocomplete="off">
					<div ng-messages="form.value.$error">
     	 				<div ng-message="required">This is required.</div>
     	 			</div>
				</md-input-container>
			</div>
			<div layout-gt-xs="row" layout-align="end center">
				<div>
					<md-button ng-click="vm.upsert(form)" ng-if="!vm.isEdit">Add</md-button>
					<md-button class="md-warn" ng-click="vm.remove()" ng-if="vm.isEdit">Remove</md-button>
					<md-button ng-click="vm.upsert(form)" ng-if="vm.isEdit">Update</md-button>
				</div>
			</div>
		</form>
	</div>
</md-content>