<md-button class="md-fab md-fab-top-right" aria-label="Add" ng-click="vm.showAddWorkoutForm($event)">
	<md-icon md-svg-icon="img/icons/plus.svg"></md-icon>
</md-button>
<header>
	<h1 class="md-display-3">Workouts</h1>
</header>
<md-list class="workout-list">
	<md-list-item class="animated md-2-line workout-list-item" ng-repeat="workout in vm.workouts" ng-init="index = $index">
		<img ng-src="img/icons/ic_fitness_center_black_24px.svg" class="md-avatar"/>
    	<div class="md-list-item-text">
			<h3>{{ workout.name }}</h3>
			<p>{{ workout.description }}</p>
    	</div>
    	<md-button class="md-secondary" ui-sref="workout.detail({id: {{workout.id}}})">Open</md-button>
    	<md-button class="md-secondary" ng-click="vm.remove(index)">Remove</md-button>
  	</md-list-item>
	<md-list-item class="animated no-workouts" ng-if="vm.workouts.length === 0">
		<h5 class="md-headline">No workouts yet</h5>
	</md-list-item>
</md-list>