@import 'mixins';
.workout-detail-container {
	header {
		h1 {
			position: relative;
			
			md-icon {
				width: 50px;
				height: 50px;
				padding-bottom: 4px;
			}

			.workout-name-inline-edit-button {
				position: absolute;
				top: -3px;
			}

			form[name="workoutNameForm"] {
				font-size: 16px;
			}
		}
	}
	md-content {
		#workout-type-parameters-container {
			margin-right: 40px;
			.workout-type-parameters {
				margin: 0 0 0 10px;
				padding: 0;
				@include border(2px, solid, black);
				@include border-radius(8px);
				width: 10vw;
				text-align: center;
			}
			#add-parameter-button {
				@include border-radius(8px);
				width: 10vw;
				height: 72px;
			}
		}
		.workout-description-inline-edit-button {
			position: absolute;
			left: -3px;
		}
		#radar {
			@include animation-duration(1s);
		}
		md-content.exercise-list {
			overflow: unset !important;
		}
	}
}