@import 'mixins';
.workout-list {
	.workout-list-item {
		img.md-avatar {
			margin-top: 23px;
			margin-right: 10px;
			width: 25px;
			height: 25px;
		}
		&.ng-enter {
			@include animation-name(slideInLeft);
		}
		&.ng-leave {
			@include animation-name(slideOutLeft);
		}
	}
	.no-workouts {
		&.ng-enter {
			@include animation-name(fadeIn);
		}
		&.ng-leave {
			@include animation-name(fadeOut);
		}
	}
}