@import 'mixins';
#summary-container {
	height: 100vh;
	overflow-y: hidden;

	.profile {

		.profile-picture {
			@include round-image();
			margin-top: 49px;
			@include icon-size(25em);
		}

		.profile-summary {
			margin-left: 20px;
			width: 40vw;
		}

	}
}